<div class="calcwidget__body">
  <div class="calcwidget__part">
    <div class="calcwidget__box">
      <div>
        <span></span>
      </div>
    </div>
    <p class="calcwidget__text">Price</p>
  </div>
  <div class="calcwidget__part">
    <div class="calcwidget__box">
      <div>
        <span>2</span>
      </div>
    </div>
    <p class="calcwidget__text">Shipment</p>
  </div>
  <div class="calcwidget__part">
    <div class="calcwidget__box">
      <div>
        <span>3</span>
      </div>
    </div>
    <p class="calcwidget__text">Loading</p>
  </div>
  <div class="calcwidget__part">
    <div class="calcwidget__box">
      <div>
        <span>4</span>
      </div>
    </div>
    <p class="calcwidget__text">Unloading</p>
  </div>
  <div class="calcwidget__part">
    <div class="calcwidget__box">
      <div>
        <span>5</span>
      </div>
    </div>
    <p class="calcwidget__text">Invoice address</p>
  </div>
  <div class="calcwidget__part">
    <div class="calcwidget__box">
      <div>
        <span>6</span>
      </div>
    </div>
    <p class="calcwidget__text">Payment</p>
  </div>
</div>
