<section class="companies">
  <div class="container">
    <div class="companies__body">
      <h2 class="title-def">Companies ship faster with Marli</h2>
      <div class="companies__box">
        <div class="bloc-text">
          <p>
            Experience the competitive edge of expedited deliveries for your
            business. Companies trust Marli for swift and reliable shipping
            solutions. Whether it's across town or across borders, our
            streamlined services ensure your packages reach their destination
            faster than ever before.
          </p>
        </div>
        <div class="bloc-text">
          <p>Boost Your Shipping Speed with Marli!</p>
          <p>
            <b>Say goodbye to delays and hello to efficiency with Marli.</b>
          </p>
        </div>
      </div>
      <ul class="companies__list">
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/comp_1.svg" alt="GEODIS" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/comp_2.svg" alt="FRANCE EXPRESS" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/comp_3.svg" alt="tdf" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/comp_4.svg" alt="selecta" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/comp_5.svg" alt="libre" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
