<section class="delivery">
  <div class="container">
    <div class="delivery__body">
      <div class="delivery__content">
        <h2 class="delivery__title">
          Get a personalized calculation of the cost of delivery
        </h2>
        <p class="delivery__text">
          If you have any questions, need technical advice, or need to find a
          contractor in your region. Our experts will answer all your questions
        </p>
        <a href="./calcstep1.html" class="delivery__btn btn-def">
          Calculate the price of delivery
        </a>
      </div>
      <div class="delivery__img-wrapp">
        <img src="./img/decor/truck.png" alt="Truck" />
      </div>
    </div>
  </div>
</section>
