<section class="overview">
  <div class="container">
    <div class="overview__body">
      <div class="overview__content">
        <h2 class="overview__title title-def">Company Overview</h2>
        <div class="overview__box">
          <div class="bloc-text">
            <p>
              Company Overview<br />
              We're an express delivery company in France, operating since 2018.
              We offer fast, stress-free deliveries within 24 hours or less,
              specializing in deliveries to Corsica.
            </p>
            <p>
              Our Services<br />
              Express Delivery: Get your packages delivered in 24 hours or less.
              Island Delivery: We deliver to Corsica and other challenging
              locations.
            </p>
            <p>
              Our Commitment<br />
              Our team is dedicated to reliable, efficient service. We make sure
              your packages arrive on time, without stress.
            </p>
          </div>
        </div>
        <div class="overview__link-dec">
          <a href="./calcstep1.html" class="btn-def">
            Calculate the price of delivery
          </a>
        </div>
      </div>
      <div class="overview__img-wrapp">
        <img src="./img/content/overview_1.jpg" alt="Truck" />
      </div>
      <div class="overview__link-mob">
        <a href="./calcstep1.html" class="btn-def">
          Calculate the price of delivery
        </a>
      </div>
    </div>
  </div>
</section>
