html,
body {
  font-family: var(--ff);
  color: var(--cw);
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--cb);
}

.overhide {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 58em;
  padding: 0 2.5em;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 1.56vw;
  }
}

@media screen and (max-width: 900px) {
  html,
  body {
    font-size: 16px;
  }
  .container {
    padding: 0 1em;
  }
}

@media screen and (max-width: 390px) {
  html,
  body {
    font-size: 4.1vw;
  }
}
