.decentral {
  &__body {
    padding: 4.3rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  &__header {
    margin-bottom: 6.06rem;

    opacity: 0;
    transform: translateY(80%);
    transition: all 0.5s ease;
    &.up {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__box {
    margin-bottom: 0.5rem;
  }
  &__logo-link {
    display: flex;
    align-items: center;
    gap: 0.66rem;
    color: var(--cw);
    &:hover .decentral__name {
      color: var(--cv);
    }
    &:hover .decentral__logo-wrapp {
      background-color: var(--cv);
    }
  }
  &__logo-wrapp {
    width: 3.44588rem;
    height: 3.44594rem;
    flex-shrink: 0;
    border-radius: 0.50513rem;
    background: var(--cw);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
  }
  &__name {
    font-size: 2.064rem;
    font-weight: 500;
    line-height: 1.75438rem;
    letter-spacing: -0.06194rem;
    text-transform: capitalize;
    transition: all 200ms;
  }
  &__desc {
    font-weight: 600;
    line-height: 1.5rem;
  }
  &__hero {
    margin-bottom: 5rem;
    flex-grow: 1;
  }
  &__title {
    color: var(--cg);
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 2rem;

    opacity: 0;
    transform: translateY(80%);
    transition: all 0.5s ease;
    &.up {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__text {
    text-align: center;
    font-family: var(--ff2);
    font-size: 1.5rem;
    line-height: 2.5rem;

    opacity: 0;
    transform: translateY(80%);
    transition: all 0.5s ease;
    &.up {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__footer {
    opacity: 0;
    transform: translateY(80%);
    transition: all 0.5s ease;
    &.up {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__list-soc {
    display: flex;
    align-items: center;
    gap: 15.5px;
  }
  &__item-soc {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 200ms;
      &:hover {
        filter: invert(64%) sepia(30%) saturate(865%) hue-rotate(105deg)
          brightness(115%) contrast(114%);
      }
    }
  }
}

.decentral-blur1,
.decentral-blur2 {
  z-index: -1;
  position: absolute;
  width: 55.5rem;
  height: 55.5rem;
  border-radius: 55.5rem;
  opacity: 0.48;
  background-color: var(--cg);
  filter: blur(300px);
}
.decentral-blur1 {
  top: -28.04rem;
  right: -43.44rem;
}
.decentral-blur2 {
  bottom: -39.62rem;
  left: -23.5rem;
}

@media screen and (max-width: 900px) {
  .decentral {
    &__header {
      margin-bottom: 8.44rem;
    }
    &__hero {
      margin-bottom: 6.5rem;
    }
    &__title {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
    &__text {
      font-family: var(--ff);
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .decentral-blur1,
  .decentral-blur2 {
    width: 33.625rem;
    height: 33.625rem;
    border-radius: 33.625rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .decentral-blur1 {
    top: -22.12rem;
  }
  .decentral-blur2 {
    bottom: -22.12rem;
  }
}
