<section class="success section-other">
  <div class="container">
    <div class="success__body">
      <h2 class="success__title title-def">Success story</h2>
      <ul class="success__list">
        <li class="success__item">
          <div class="success__headline-wrapp">
            <div class="success__headline-box">
              <h3>
                2018<br />
                year
              </h3>
            </div>
          </div>
          <div class="success__text-wrapp">
            <p>
              Founded in 2018 by Anna Urusova and Vladyslav Urusov, our express
              delivery company aims to redefine the industry in France.
            </p>
          </div>
        </li>
        <li class="success__item">
          <div class="success__headline-wrapp">
            <div class="success__headline-box">
              <h3>
                2019<br />
                year
              </h3>
            </div>
          </div>
          <div class="success__text-wrapp">
            <p>
              Despite being newcomers to the French market, Anna and Vladyslav
              quickly established a robust logistics network and earned a
              reputation for reliability.
            </p>
          </div>
        </li>
        <li class="success__item">
          <div class="success__headline-wrapp">
            <div class="success__headline-box">
              <h3>
                2022<br />
                year
              </h3>
            </div>
          </div>
          <div class="success__text-wrapp">
            <p>
              Their unique specialization in island deliveries, especially to
              Corsica, set them apart from competitors and demonstrated their
              ability to tackle complex challenges.
            </p>
          </div>
        </li>
        <li class="success__item">
          <div class="success__headline-wrapp">
            <div class="success__headline-box">
              <h3>
                2024<br />
                year
              </h3>
            </div>
          </div>
          <div class="success__text-wrapp">
            <p>
              Today, our company continues to thrive, offering fast and reliable
              delivery services across France.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
