<section class="decentral">
  <div class="container">
    <div class="decentral__body">
      <div class="decentral__header">
        <div class="decentral__box">
          <a href="./index.html" class="decentral__logo-link">
            <div class="decentral__logo-wrapp">
              <img src="./img/icons/logo.svg" alt="Decentral Pay" />
            </div>
            <div class="decentral__name">
              Decentral<br />
              pay
            </div>
          </a>
        </div>
        <p class="decentral__desc">Ultimate Payment Ecosystem</p>
      </div>
      <div class="decentral__hero">
        <h1 class="decentral__title">Coming soon</h1>
        <p class="decentral__text">
          We're currently working on creating our new website. We'll be
          launching soon. Subscribe to our social media to stay in touch.
        </p>
      </div>
      <div class="decentral__footer">
        <ul class="decentral__list-soc">
          <li class="decentral__item-soc">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img
                src="./img/icons/soc_1.svg"
                alt="Linkedin"
                width="31"
                height="31"
              />
            </a>
          </li>
          <li class="decentral__item-soc">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img
                src="./img/icons/soc_2.svg"
                alt="Social"
                width="31"
                height="31"
              />
            </a>
          </li>
          <li class="decentral__item-soc">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img
                src="./img/icons/soc_3.svg"
                alt="Facebook"
                width="31"
                height="31"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="decentral-blur1"></div>
    <div class="decentral-blur2"></div>
  </div>
</section>
