<div class="header__bottom">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="#">Express delivery</a></li>
        <li><a href="./calcstep1.html">Calculator </a></li>
        <li><a href="#">Settlement</a></li>
        <li><a href="#">Advantages </a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Invoicing</a></li>
      </ul>
      <ul class="header__list">
        <li><a href="./about.html">About us</a></li>
        <li><a href="./contact.html">Contacts</a></li>
      </ul>
    </nav>
  </div>
</div>
