<div class="header__top">
  <div class="container">
    <div class="header__body">
      <div class="header__logo-wrapp">
        <a
          href="./index.html"
          class="custom-logo-link"
          rel="home"
          aria-current="page"
        >
          <img
            width="121"
            height="44"
            src="./img/icons/logo_h.svg"
            class="custom-logo lazyloaded"
            alt="Marli"
            decoding="async"
          />
        </a>
      </div>
      <address class="header__address">
        <a href="mailto:contact@expressmarli.com" class="address-email">
          contact@expressmarli.com
        </a>
        <a href="tel:+48730684425" class="address-tel">+48 730 684 425</a>
      </address>
      <a href="./calcstep1.html" class="header__link btn-def">
        Calculate the price of delivery
      </a>
      <div class="header__rating">
        <div class="header__company">
          <img
            width="110"
            height="22"
            src="./img/icons/trans.svg"
            alt="Trans.eu"
          />
        </div>
        <div class="header__reviews">
          <span>5 (22)</span>
          <div class="header__stars">
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
          </div>
        </div>
      </div>
      <ul class="header__lang">
        <li
          id="menu-item-406"
          class="pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
        >
          <a href="#">
            <img src="./img/icons/flag_1.jpg" alt="En" width="17" height="12" />
            <span>English</span>
          </a>
          <ul class="sub-menu">
            <li
              id="menu-item-406-en"
              class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
            >
              <a
                href="/"
                hreflang="en-GB"
                lang="en-GB"
              >
                <img
                  src="./img/icons/flag_1.jpg"
                  alt="En"
                  width="17"
                  height="12"
                />
                <span>Poland</span>
              </a>
            </li>
            <li
              id="menu-item-406-en"
              class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
            >
              <a
                href="/"
                hreflang="en-GB"
                lang="en-GB"
              >
                <img
                  src="./img/icons/flag_1.jpg"
                  alt="En"
                  width="17"
                  height="12"
                />
                <span>Ukraine</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <button class="header__burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</div>
