.header {
  &__bottom {
    padding: 1rem 0;
    background-color: var(--cb);
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 2.38rem;
    a {
      color: var(--cw);
      line-height: normal;
      transition: all 200ms;
      &:hover {
        color: var(--cg);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    &__bottom {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
  }
}
