<footer class="footer-c">
  <div class="container">
    <div class="footer-c__body">
      <ul class="footer-c__list-pages">
        <li><a href="#">Express delivery</a></li>
        <li><a href="./calcstep1.html">Calculator</a></li>
        <li><a href="./about.html">About us</a></li>
        <li><a href="./contact.html">Contacts</a></li>
        <li><a href="#">Invoicing</a></li>
      </ul>
      <ul class="footer-c__list-pay">
        <li>
          <img src="./img/icons/pay_1.png" alt="Visa" width="32" height="24" />
        </li>
        <li>
          <img
            src="./img/icons/pay_2.png"
            alt="MasterCard"
            width="32"
            height="24"
          />
        </li>
        <li>
          <img src="./img/icons/pay_3.png" alt="Pay" width="32" height="24" />
        </li>
      </ul>
    </div>
  </div>
</footer>
