.calcwidget {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  &__box {
    position: relative;
    width: 1.3125rem;
    height: 1.3125rem;
    div {
      position: absolute;
      z-index: 7;
      border-radius: 6.25rem;
      border: 0.125rem solid var(--cr);
      width: 1.3125rem;
      height: 1.3125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--cw);
    }
    span {
      color: var(--cr);
      font-size: 0.75rem;
      font-weight: 500;
      line-height: normal;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
      width: 16rem;
      height: 0.125rem;
      border-radius: 0.125rem;
      background-color: var(--cr);
    }
  }
  &__part {
    &:first-child {
      .calcwidget__box {
        span {
          width: 0.625rem;
          height: 0.5rem;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M10 0.8C10 1.0047 9.93025 1.2095 9.79074 1.3655L4.07645 7.7655C3.9375 7.9225 3.75446 8 3.57143 8C3.38839 8 3.2058 7.92188 3.06652 7.76562L0.209375 4.56563C0.0698661 4.41 0 4.205 0 4C0 3.543 0.333705 3.2 0.714286 3.2C0.897054 3.2 1.07991 3.27813 1.2192 3.43438L3.57143 6.07L8.78125 0.235C8.91964 0.07825 9.10268 0 9.28571 0C9.66741 0 10 0.3425 10 0.8Z' fill='%23037394'/%3E%3C/svg%3E");
        }
        &::before {
          display: none;
        }
      }
    }
  }
  &__text {
    color: var(--cr);
    font-size: 0.875rem;
    line-height: normal;
  }
}

@media screen and (max-width: 960px) {
  .calcwidget {
    &__part {
      &:first-child {
        .calcwidget__box {
          &::before {
            display: block;
          }
        }
      }
      &:last-child {
        .calcwidget__box {
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
            width: 16rem;
            height: 0.125rem;
            border-radius: 0.125rem;
            background-color: var(--cr);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .calcwidget {
    &__text {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero {
  }
}
