.companies {
  &__body {
  }
  &__box {
    display: grid;
    gap: 4.37rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0.5rem;
  }
  &__list {
    display: flex;
    gap: 2rem;
    align-items: center;
    li {
      width: 8.625rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .companies {
    &__box {
      gap: 0.6rem;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 2.5rem;
    }
    &__list {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 600px) {
  .companies {
    &__list {
      li {
        width: 6.3125rem;
      }
    }
  }
}
