.delivery {
  &__body {
    padding: 2.05rem 2.8rem;
    border-radius: 0.625rem;
    background-color: var(--ch);
    position: relative;
  }
  &__content {
    width: 38.875rem;
  }
  &__title {
    color: var(--cw);
    font-size: 2.375rem;
    font-weight: 600;
    line-height: 3.20625rem;
    margin-bottom: 1.25rem;
  }
  &__text {
    color: var(--cw);
    line-height: 1.65rem;
    margin-bottom: 2.38rem;
  }
  &__btn {
  }
  &__img-wrapp {
    position: absolute;
    right: -8.75rem;
    bottom: -9rem;
    width: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 960px) {
  .delivery {
    &__body {
      padding: 0.95rem 1.5rem;
      padding-bottom: 12.5rem;
    }
    &__content {
      width: auto;
      max-width: 25rem;
    }
    &__title {
      font-size: 1.5rem;
      line-height: 2.4rem;
      margin-bottom: 1rem;
    }
    &__text {
      font-size: 0.875rem;
      line-height: 1.4875rem;
    }
    &__img-wrapp {
      right: -7rem;
      bottom: -7rem;
      width: 38rem;
    }
  }
}

@media screen and (max-width: 730px) {
  .delivery {
    &__img-wrapp {
      width: 27.3125rem;
      right: -4.95rem;
      bottom: -7.3rem;
    }
  }
}

@media screen and (max-width: 600px) {
}
