<section class="benefits section-def">
  <div class="container">
    <div class="benefits__body">
      <h2 class="title-def">We deliver with these benefits</h2>
      <ul class="benefits__list">
        <li>
          <div class="benefits__box">
            <div class="benefits__img-wrapp">
              <img src="./img/icons/benefits_1.svg" alt="Icon" />
            </div>
            <h3 class="benefits__subtitle">Personal contact</h3>
          </div>
          <p class="benefits__text">
            We are available to you by telephone and provide clarity in case of
            questions.
          </p>
        </li>
        <li>
          <div class="benefits__box">
            <div class="benefits__img-wrapp">
              <img src="./img/icons/benefits_2.svg" alt="Icon" />
            </div>
            <h3 class="benefits__subtitle">Immediate feedback</h3>
          </div>
          <p class="benefits__text">
            We will respond to your transport request within a few minutes.
          </p>
        </li>
        <li>
          <div class="benefits__box">
            <div class="benefits__img-wrapp">
              <img src="./img/icons/benefits_3.svg" alt="Icon" />
            </div>
            <h3 class="benefits__subtitle">Delivery on time</h3>
          </div>
          <p class="benefits__text">
            Satisfied customers through clean delivery in the desired time
            window.
          </p>
        </li>
        <li>
          <div class="benefits__box">
            <div class="benefits__img-wrapp">
              <img src="./img/icons/benefits_4.svg" alt="Icon" />
            </div>
            <h3 class="benefits__subtitle">Excellent consulation</h3>
          </div>
          <p class="benefits__text">
            Quick feedback to your transport enquiries.
          </p>
        </li>
        <li>
          <div class="benefits__box">
            <div class="benefits__img-wrapp">
              <img src="./img/icons/benefits_5.svg" alt="Icon" />
            </div>
            <h3 class="benefits__subtitle">Smooth process</h3>
          </div>
          <p class="benefits__text">
            Automatic status updates for peace of mind.
          </p>
        </li>
        <li>
          <div class="benefits__box">
            <div class="benefits__img-wrapp">
              <img src="./img/icons/benefits_6.svg" alt="Icon" />
            </div>
            <h3 class="benefits__subtitle">Transport insurance</h3>
          </div>
          <p class="benefits__text">
            Your goods are insured with over 10 EUR per kg gross weight
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
