<section class="courier">
  <div class="container">
    <div class="courier__body">
      <h2 class="title-def">Courier service for direct transports</h2>
      <ul class="courier__list">
        <li class="courier__item item-g1">
          <img src="./img/content/courier_1.jpg" alt="Truck" />
        </li>
        <li class="courier__item item-g2">
          <img src="./img/content/courier_2.jpg" alt="Truck" />
        </li>
        <li class="courier__item item-g3">
          <img src="./img/content/courier_3.jpg" alt="Truck" />
        </li>
        <li class="courier__item item-g4">
          <img src="./img/content/courier_4.jpg" alt="Truck" />
        </li>
        <li class="courier__item item-g5">
          <img src="./img/content/courier_5.jpg" alt="Truck" />
        </li>
      </ul>
      <div class="courier__box">
        <div class="bloc-text">
          <p>
            No time for diversions? Operating as a courier service specializing
            in time-sensitive deliveries, we operate across Germany and various
            European nations daily. Our operations entail collecting shipments
            from airports, transporting goods to trade fairs, and facilitating
            inter-European transfers.
          </p>
          <p>
            To facilitate this, we maintain a vast network of over 40,000
            vehicles, ensuring swift and flexible availability within 60 to 120
            minutes. Additionally, we offer the option of booking documented
            delivery and acknowledgment letters.
          </p>
        </div>
        <div class="bloc-text">
          <p>
            Our clientele primarily consists of industries such as mechanical
            engineering, event management, logistics, and electrical
            engineering, catering to both large corporations and medium-sized
            enterprises.
          </p>
          <p>
            Our courier service adeptly handles diverse shipments, ranging from
            documents to pallets, ensuring prompt and direct delivery to
            recipients both nationally and internationally. Whether it's sending
            parcels or arranging pickups, our couriers excel in swift execution.
            Pricing quotes for our services are conveniently accessible online,
            with real-time tracking available through user accounts.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
