<section class="feedback section-def">
  <div class="container">
    <div class="feedback__body">
      <div class="feedback__info">
        <h2 class="feedback__title title-def">Feedback from our customers</h2>
        <a href="#" class="feedback__link btn-def">Leave a review</a>
      </div>
      <div class="feedback__box feedback-splide splide">
        <div class="feedback__swiper splide__track">
          <ul class="feedback__list splide__list">
            <li class="splide__slide">
              <div class="feedback__block">
                <div class="feedback__ava-wrapp">
                  <img src="./img/content/feedback_1.jpg" alt="User" />
                </div>
                <div class="feedback__desc">
                  <p class="feedback__name">Valérie Brunet</p>
                  <div class="feedback__aside">
                    <div class="feedback__stars">
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                    </div>
                    <p class="feedback__active">2 months ago</p>
                  </div>
                </div>
              </div>
              <p class="feedback__comment">
                This delivery company is simply the best. Fast, efficient &
                effective. Never got any pb. Probably booked them already 4 or 5
                times highly recommended
              </p>
            </li>
            <li class="splide__slide">
              <div class="feedback__block">
                <div class="feedback__ava-wrapp">
                  <img src="./img/content/feedback_1.jpg" alt="User" />
                </div>
                <div class="feedback__desc">
                  <p class="feedback__name">Valérie Brunet</p>
                  <div class="feedback__aside">
                    <div class="feedback__stars">
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                    </div>
                    <p class="feedback__active">2 months ago</p>
                  </div>
                </div>
              </div>
              <p class="feedback__comment">
                This delivery company is simply the best. Fast, efficient &
                effective. Never got any pb. Probably booked them already 4 or 5
                times highly recommended
              </p>
            </li>
            <li class="splide__slide">
              <div class="feedback__block">
                <div class="feedback__ava-wrapp">
                  <img src="./img/content/feedback_1.jpg" alt="User" />
                </div>
                <div class="feedback__desc">
                  <p class="feedback__name">Valérie Brunet</p>
                  <div class="feedback__aside">
                    <div class="feedback__stars">
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                    </div>
                    <p class="feedback__active">2 months ago</p>
                  </div>
                </div>
              </div>
              <p class="feedback__comment">
                This delivery company is simply the best. Fast, efficient &
                effective. Never got any pb. Probably booked them already 4 or 5
                times highly recommended
              </p>
            </li>
            <li class="splide__slide">
              <div class="feedback__block">
                <div class="feedback__ava-wrapp">
                  <img src="./img/content/feedback_2.jpg" alt="User" />
                </div>
                <div class="feedback__desc">
                  <p class="feedback__name">Valérie Brunet</p>
                  <div class="feedback__aside">
                    <div class="feedback__stars">
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                    </div>
                    <p class="feedback__active">2 months ago</p>
                  </div>
                </div>
              </div>
              <p class="feedback__comment">
                This delivery company is simply the best. Fast, efficient &
                effective. Never got any pb. Probably booked them already 4 or 5
                times highly recommended
              </p>
            </li>
            <li class="splide__slide">
              <div class="feedback__block">
                <div class="feedback__ava-wrapp">
                  <img src="./img/content/feedback_2.jpg" alt="User" />
                </div>
                <div class="feedback__desc">
                  <p class="feedback__name">Valérie Brunet</p>
                  <div class="feedback__aside">
                    <div class="feedback__stars">
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                    </div>
                    <p class="feedback__active">2 months ago</p>
                  </div>
                </div>
              </div>
              <p class="feedback__comment">
                This delivery company is simply the best. Fast, efficient &
                effective. Never got any pb. Probably booked them already 4 or 5
                times highly recommended
              </p>
            </li>
            <li class="splide__slide">
              <div class="feedback__block">
                <div class="feedback__ava-wrapp">
                  <img src="./img/content/feedback_2.jpg" alt="User" />
                </div>
                <div class="feedback__desc">
                  <p class="feedback__name">Valérie Brunet</p>
                  <div class="feedback__aside">
                    <div class="feedback__stars">
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                      <div><img src="./img/icons/star.svg" alt="Star" /></div>
                    </div>
                    <p class="feedback__active">2 months ago</p>
                  </div>
                </div>
              </div>
              <p class="feedback__comment">
                This delivery company is simply the best. Fast, efficient &
                effective. Never got any pb. Probably booked them already 4 or 5
                times highly recommended
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
