<section class="hero section-def">
  <div class="container">
    <div class="hero__body">
      <p class="hero__subtitle">Marli courier service – direct transports</p>
      <h1 class="hero__title title-def">Speedy Delivery Across Europe</h1>
      <ul class="hero__list">
        <li>
          <h3 class="hero__lead">Direct to Destination</h3>
          <p class="hero__text">
            For urgent deliveries - It's as if it was sent yesterday
          </p>
        </li>
        <li>
          <h3 class="hero__lead">Quick Pickup in 60-120 Minutes</h3>
          <p class="hero__text">National & EU-wide: Avg. 72 Min Delivery.</p>
        </li>
        <li>
          <h3 class="hero__lead">Economical Fixed Pricing</h3>
          <p class="hero__text">
            Instant quotes for transports - up to 1,200 kg
          </p>
        </li>
      </ul>
      <a href="./calcstep1.html" class="btn-def">
        Calculate the price of delivery
      </a>
      <div class="hero__img-wrapp">
        <img src="./img/content/hero_1.png" alt="Truck" />
      </div>
    </div>
  </div>
</section>
