<section class="price">
  <div class="container">
    <div class="price__body">
      <h2 class="title-def">Price overview courier</h2>
      <ul class="price__list">
        <li class="price__item">
          <div class="price__descript">
            <div class="price__title-wrapp">
              <h3>Small van</h3>
              <span>from 49€</span>
            </div>
            <p class="price__text">
              Pick-up time: 60 - 120<br />
              Minutes Loading from behind
            </p>
          </div>
          <div class="price__size">
            <p class="price__text">
              <b>2 Europallets</b><br />
              160 x 120 x 120 cm
            </p>
          </div>
          <div class="price__weight">
            <p class="price__text"><b>max. 400 kg</b></p>
          </div>
          <div class="price__flexbox">
            <div class="price__img-wrapp">
              <img src="./img/content/price_1.png" alt="Truck" />
            </div>
          </div>
        </li>
        <li class="price__item">
          <div class="price__info">
            <div class="price__title-wrapp">
              <h3>Big van</h3>
              <span>from 119€</span>
            </div>
            <p class="price__text">
              Pick-up time: 60 - 120<br />
              Minutes Loading from behind
            </p>
          </div>
          <div class="price__size">
            <p class="price__text">
              <b>8 Europallets</b><br />
              420 x 210 x 210 cm
            </p>
          </div>
          <div class="price__weight">
            <p class="price__text"><b>max. 1200 kg</b></p>
          </div>
          <div class="price__flexbox">
            <div class="price__img-wrapp">
              <img src="./img/content/price_2.png" alt="Truck" />
            </div>
          </div>
        </li>
        <li class="price__item">
          <div class="price__info">
            <div class="price__title-wrapp">
              <h3>Lifting ramp</h3>
              <span>from 179€</span>
            </div>
            <p class="price__text">
              Pick-up time: 60 - 120<br />
              Minutes Loading from behind
            </p>
          </div>
          <div class="price__descript">
            <p class="price__text">
              <b>8 Europallets</b><br />
              420 x 210 x 210 cm
            </p>
          </div>
          <div class="price__descript">
            <p class="price__text"><b>max. 800 kg</b></p>
          </div>
          <div class="price__flexbox">
            <div class="price__img-wrapp">
              <img src="./img/content/price_3.png" alt="Truck" />
            </div>
          </div>
        </li>
      </ul>
      <div class="price__box">
        <div class="bloc-text">
          <p>
            Incorporating 60 minutes for loading, unloading, and any additional
            wait times. Every extra hour incurs a charge of 30 EUR net.
            Assistance with loading or unloading by courier drivers is available
            for an additional 30 EUR. If a package exceeds 31 kg, assistance is
            required for loading or unloading by the driver
          </p>
        </div>
        <div class="bloc-text">
          <p>
            Transportation to islands is primarily available upon request.
            Vehicles with a lifting platform can transport packages weighing up
            to 500 kg and with dimensions of up to 120 x 150 x 200 cm per
            package.
          </p>
          <p>
            To calculate prices and make bookings, please utilize our
            <a href="#" class="price__text-link">price calculator</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
