<section class="shipments">
  <div class="shipments__top">
    <div class="container">
      <div class="shipments__info-body">
        <ul class="shipments__info-list">
          <li>
            <h3>>3 500</h3>
            <p>shipments per month</p>
          </li>
          <li>
            <h3>29</h3>
            <p>countries are available</p>
          </li>
          <li>
            <h3>40 000</h3>
            <p>cars in operation</p>
          </li>
          <li>
            <h3>>200</h3>
            <p>Existing contracts</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="shipments__bottom">
    <div class="container">
      <div class="shipments__body">
        <h2 class="title-def">We can handle these shipments</h2>
        <ul class="shipments__list">
          <li class="shipments__item">
            <div class="shipments__img-wrapp">
              <img src="./img/content/shipments_1.jpg" alt="" />
            </div>
            <div class="shipments__text-box">
              <p>From 1 kg up to 1.200 kg</p>
            </div>
          </li>
          <li class="shipments__item">
            <div class="shipments__img-wrapp">
              <img src="./img/content/shipments_2.jpg" alt="" />
            </div>
            <div class="shipments__text-box">
              <p>From letter up to 10 pallets</p>
            </div>
          </li>
          <li class="shipments__item">
            <div class="shipments__img-wrapp">
              <img src="./img/content/shipments_3.jpg" alt="" />
            </div>
            <div class="shipments__text-box">
              <p>
                Length up to 480 cm <br />
                Width up to 230 cm <br />
                Height up to 240 cm
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
