<section class="contact">
  <div class="container">
    <div class="contact__body">
      <h2 class="title-def">Contact us</h2>
      <div class="contact__wrapp">
        <div class="contact__content">
          <div class="contact__address">
            <div class="contact__part">
              <div class="contact__icon-wrapp">
                <img src="./img/icons/con_1.svg" alt="Telephone" />
              </div>
              <div class="contact__contacts">
                <p>Phone number</p>
                <a href="tel:+48730684425">+48 730 684 425</a>
              </div>
            </div>
            <div class="contact__part">
              <div class="contact__icon-wrapp">
                <img src="./img/icons/con_2.svg" alt="Letter" />
              </div>
              <div class="contact__contacts">
                <p>Email:</p>
                <a href="mailto:contact@expressmarli.com">
                  contact@expressmarli.com
                </a>
              </div>
            </div>
          </div>
          <div class="contact__text-wrapp bloc-text">
            <p>
              Founded in 2018 by Anna Urusova and Vladyslav Urusov, our express
              delivery company aims to redefine the industry in France.
            </p>
            <p>
              delivery company aims to redefine the industry in France. Today,
              our company continues to thrive, offering fast and reliable
              delivery services across France. Anna and Vladyslav remain
              dedicated to their original mission and plan to expand their
              services while preserving the family values that have driven their
              success. delivery company aims to redefine the industry in France.
            </p>
          </div>
          <ul class="contact__list-soc">
            <li class="contact__item-soc">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_1.svg" alt="Telegram" />
              </a>
            </li>
            <li class="contact__item-soc">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_2.svg" alt="Viber" />
              </a>
            </li>
            <li class="contact__item-soc">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_3.svg" alt="WhatsApp" />
              </a>
            </li>
          </ul>
        </div>
        <div class="contact__map-box">
          <iframe
            class="contact__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2261.9508263691415!2d18.603511516004612!3d54.32411857919838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd7524ff1f246d%3A0x6b1a547a4a2b0547!2sKazimierza%20Por%C4%99bskiego%2055%2F17%2C%2080-180%20Gda%C5%84sk%2C%20Poland!5e0!3m2!1sen!2sus!4v1688545567323!5m2!1sen!2sus&z=15&t=m&hl=en"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <p class="contact__name-place">
            Kazimierza Porębskiego 55/17, 80-180 Gdańsk, Poland
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
